*{
    font-family: 'Outfit', sans-serif;
}

html, body{
    background-color: hsl(212, 45%, 89%);
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

h2{
    font-weight: 700;
}

p{
    font-size: 15px;
    font-weight: 400;
    color: rgba(0,0,0, 0.3);
    line-height: 1.4em;
    margin-bottom: 25px;
}

.card{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1);
}

.card-text{
    width: 92%;
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }